@import "./abstracts/variables.scss";
// @import "./components/nav.scss";

body {
    font-family: "Consolas", "courier new", Helvetica, Arial, Sans-serif;
    font-size: 1em;
    line-height: 1.50em;
    color: #839496;
    background-color: #002a36;
    margin-top: 0px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
  }

  a {
    text-decoration: underline;
    color: #268bd2;
  }
  
  a:hover {
    text-decoration: underline;
    color: #b58900;	
  }
  .no-underline{
    text-decoration-line: none;
  }
  
  .header-container {
    text-align: center;
    margin-top: 1.5rem;
  }
  .header {
    font-size: 2.5em;
    color: #CB4B16;
    line-height: 1em;
    font-weight: 500;
    margin: .15em 0em;
    text-decoration-line: none;
  }
  .content {
    background-color: #002a36;
    max-width: 850px;
    margin: 0 auto;
    padding: 0px 5px 0px 5px;
  }
  .profile {
    text-align: center;
    margin: 0 auto;
  }
  .profile h1 {
    font-size: 2.25em;
    color: #CB4B16;
    line-height: 1em;
    font-weight: 500;
    margin: .15em 0em;
  }
  .collaborate {
    text-align: center;
  }
  .collaborate h2 {
    font-size: 1.5em;
    color: #CB4B16;
    line-height: 1.4em;
    margin: .5em 0em;
    font-weight: 500;
  }
  
  .social-media {
    text-align: center;
    margin: 0 auto;
  }
  
  i {
    text-align: center;
    margin: 0 auto;
    color: #268bd2;
  }
  
  i:hover {
    color: #b58900;
  }
  .social-media link a fa {
    text-align: center;
    margin: 0 auto;
    color: #268bd2;
  }
  .social-media a{
    margin: .25rem;
  }
  .info-segment {
    text-align: left;
  }
  .info-segment h2 {
    color: #D33682;
    font-size: 1.1em;
    line-height: 1.4em;
    margin: .5em 0em;
    font-weight: 500;
  }
  .info-segment h3 {
    color: #2aa198;
    font-size: 1.2em;
    line-height: 1.4em;
    margin: .5em 0;
    font-weight: normal;
  }
  .info-segment p {
    font-size: 1em;
    line-height: 1.4em;
    margin: .5em 0em;
    font-weight: 500;
  }
  
  /* Todo List styling below */
  
  .todo-list-app {
    max-width: 500px;
    background: #fff;
    margin: 4rem auto;
    border-radius: 7px 7px 6px 6px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
  }
  .tool-heading {
    margin: 1rem auto;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    background: #2d769b;
    color: #fff;
    border-radius: 6px 6px 0 0;
  }
  
  .todo-list {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    margin: .25rem 0;
  }
  
  .done {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: line-through;
  }
  
  .checkbox {
    margin: 0 1rem 0 0;
    font-size: 1rem;
    height: 1rem;
  }
  
  input:checked{
    background-color:  #2d769b;
  }
  
  .delete-button {
    font-weight: bold;
    color:  #2d769b;
    border-radius: 4px;
  }
  
  .add-todo {
    max-width: 300px;
    margin: .5rem auto;
    padding-bottom: 2rem;
  }
  
  .add-todo-heading{
    margin-top: 1.5rem;
    margin-bottom: .875rem;
  }
  
  .add-todo-input{
    display: flex;
    justify-content: space-between;
  }
  
  #add-item {
    font-size: 1rem;
    height: 1.5rem;
    width: 70%;
  }
  
  .submit-button {
    background-color: #2d769b;
    border-color: #2d769b;
    font-weight: bold;
    font-size: 1rem;
    color:  #fff;
    height: 1.875rem;
    width: 30%;
  }
  
  
  
  /* snippets styling */
  .snippets-header {
    display: flex;
    background: none;
    max-width: 850px;
    margin: 0 auto 10px;
    padding: 0px;
    color: $turquoise
  }

  .snippets-container {
    display: flex;
    background: none;
    max-width: 850px;
    margin: 0 auto 30px;
    padding: 0px;
    min-height: 600px;
  }
  
  .snippets-sidebar {
    width: 20%;
    background-color: $vacuum;
    border-right: 1px solid $magenta;
    margin-right: 15px;
  }
  
  .snippets-content {
    width: 80%;
    background: none;
  }
  
  .sidebar-link {
    background: none;
    border: none;
    color: $magenta;
    font-family: Consolas, courier new, Helvetica, Arial, Sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sidebar-link:hover {
    color: $gold;
  }

  .dark-text {
    color: black;
  }